#root {
  height: 100vh;
}

.speaker {
  position: fixed;
  bottom: 40px;
  left: 50px;
  z-index: 100;
  background-color: #9c2231;
  width: 50px;
  border-radius: 25px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: bottom 500ms ease-out, left 500ms ease-out;
}

.success-enter {
  opacity: 0.01;
}

.success-enter.success-enter-active {
  opacity: 1;
  transition: all 300ms ease-in;
}

.success-leave {
  opacity: 1;
}

.success-leave.success-leave-active {
  opacity: 0.01;
  transition: all 300ms ease-in;
}

.speaker > div {
  width: 35px;
  height: 35px;
  background-color: #222;
  border-radius: 30px;
  transition: width 500ms ease-out, height 500ms ease-out;
}

.row {
  display: flex;
}

.center-y {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.speaker.center {
  bottom: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 80px;
  left: calc(50% - 40px);
}

img {
  border: 0 !important;
}

.speaker.center > div {
  width: 0;
  height: 0;
}
