
body {
  margin: 0;
  background-color: #000010;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#shout {
  position: fixed;
  top: -1px;
  right: 20px;
  color: cadetblue;
  border: solid 1px cadetblue;
  padding: 0px 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}

@media (max-width: 1100px) {
  #shout {
    display: none;
  }
}

.thanks {
  margin: 10px;
}

.contributor-login {
  margin-top: 15px;
  margin-bottom: 15px;
}

.contributor-login-link {
  color: cadetblue;
}

.contributor-login-link:hover {
  background-color: cadetblue;
  color: black;
}

#shout img {
  width: 70px;
  height: 70px;
  border-radius: 40px;
}

#player, #playerBottom {
  margin-bottom: 25px;
  padding: 10px;
  background-color: #000010;
  right: 50px;
}

#playerBottom {
  position: fixed;
  bottom: -100px;
  transition: transform .3s;
  border-radius: 5px;
  border: solid 1px white;
}

#playerBottom.show {
  transform: translateY(-70px);
}

button, a {
  transition: 0.2s;
  padding: 10px;
  background-color: transparent;
  border: solid 1px;
  border-radius: 5px;
  cursor: pointer;
}

a {
  transition: none;
  text-decoration: none;
  color: cadetblue;
  margin: 0 10px;
  display: inline-block;
}

a:hover {
  background-color: cadetblue;
  color: black;
}

#start, #startBottom {
  color: limegreen;
}

#start:hover, #startBottom:hover {
  background-color: limegreen;
  color: black;
}

#stop, #stopBottom {
  color: indianred;
}

#stop:hover, #stopBottom:hover {
  background-color: indianred;
  color: black;
}

#mic, #micBottom {
  color: royalblue;
}

#mic:hover, #micBottom:hover {
  background-color: royalblue;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.rythm {
  min-width: 40px;
  min-height: 40px;
  border-radius: 10px;
  /*border: solid 2px white;*/
  display: flex;
  font-size: 3em;
  align-items: center;
  justify-content: center;
  margin: 5px 10px;
}

pre {
  display: inline-block;
}

section {
  min-width: 550px;
}

section:last-child {
  margin-bottom: 50px;
}

.demo {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.vanish {
  /*background-color: white;*/
}

.radius1, .radius2{
  border: 1px solid white;
  padding: 1px;
}

/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

pre .str, code .str { color: #65B042; } /* string  - green */
pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #fff; } /* punctuation - white */
pre .pln, code .pln { color: #fff; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
	background-color: #000;
	border-radius: 8px;
}

pre.prettyprint {
	width: 95%;
	margin: 1em auto;
	padding: 1em;
  border: none !important;
  background-color: transparent;
  margin-left: -50px;
	white-space: pre-wrap;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}
